@mixin btn($bg: var($btnCl), $cl: var($primaryCl), $size: 16px) {
    background: linear-gradient(to right, #7358CB, #C151C1) ;
    color: $mainCl;
    font-size: $size;
    padding: 8px 18px;
    border-radius: 20px;
    border: 1px solid  transparent;
    transition: 0.4s;

    &:hover {
        color: $secondaryCl ;
        background: linear-gradient(to right,#C151C1, #7358CB);
    }
}


